.containerMap_father
 display: flex
 width: 74%
 height: auto
 flex-direction: column
 overflow-y: scroll
 height: auto
 background: #ced4da
.containerMap
 width: 93%
 padding: 2%
 margin: 1.5%
 border: 1px solid #ced4da
 background: white
 display: flex
 justify-content: space-between
 //align-items: center
.PanelUI
 display: flex
 width: 100%
 height: auto
 justify-content: space-between
 max-height: 81vh

  //MVL
@media (max-width: 480px)
 .web
  font-size: 12px
 .title_head
  font-size: 16px
 .PanelUI
  flex-direction: column
  //height: 100vh
  //max-height: 91vh
  height: 100%
  max-height: fit-content
 .filterUI
  width: 96%
  height: 158px
 .navigation_head
  width: 58%
 .containerMap_father
  width: 100%
  margin-top: 2%
  max-height: 68vh
 .cardElement_buttonsAndPrice
  height: 93px
  width: 43% !important
 .imgTest
  width: 105px
  height: 81px
 .cardElement_description
  padding: 2% 
 .cardElement_column
  width: 28%
 .button
  width: 45%
 .cardElement_image
  height: 81px
 .containerMap
  justify-content: center